<h3>Twilio Numbers</h3>
<ul>
  <% numbers.each do |number| %>
    <li>
      <%= number.phone_number %>
      <%= number.voice_application_sid %>
    </li>
  <% end %>
</ul>

<h3>TwiML Apps</h3>
<% twiml_apps.each do |app| %>
  <ul>
    <li>Name: <%= app.friendly_name %></li>
    <li>Sid: <%= app.sid %></li>
    <li>Voice: <%= app.voice_url %></li>
    <li>SMS: <%= app.sms_url %></li>
  </ul>
<% end %>

<h3>SIP Users</h3>
<ul>
<% sip_addresses.each do |address| %>
  <li><%= address %></li>
<% end %>
</ul>
